<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="controller/myController.js"></script>
<script src="./practice.js"></script>
<link rel="stylesheet" href="./style.css">

<body ng-app="app" ng-controller="myController">
	<table>
		<tr>a</tr>
		<th>b</th>
	</table>
	<div>
		<label>Enter your house name here:</label></br>
		<input ng-model="housename">
		<h1><text></text></h1>
		<h1 class="text"></h1>
		<h1 text></h1>
	</div>
	</br>
	<form name="myForm" novalidate>
		<div>
			<label>Username:</label></br>
			<input type="text" name="user" ng-model="user" required>
			<span style="color:red;" ng-show="myForm.user.$dirty && myForm.user.$invalid">
				<span style="color:red;" ng-show="myForm.user.$error.required">Username is required.</span>
			</span>
		</div>
		</br>
		<div>
			<label>Email:</label></br>
			<input type="email" name="email" ng-model="email" required>
			<span style="color:red;" ng-show="myForm.email.$dirty && myForm.email.$invalid">
				<span style="color:red;" ng-show="myForm.email.$error.required">Email is required.</span>
			</span>
		</div>
		</br>
		<input type="submit" value="Submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid">
	</form>
	</br>

	<h1>Directive with isolated scope '@'
		<h2 example1 x="Apple" , y="Banana"></h2>
		<h2 example1 x="10" , y="20">
	</h1>
	</h2>
	<h2 example1 x="{{a}}" , y="{{b}}">
		</h1>
	</h2>
	</h1>
	</hr>
	<h1>Directive with isolated scope '='
		<h2><input type="text" ng-model="obj.fname"></h2>
		<h2 example2 obj="obj"></h2>
		<h2 example3 new-obj="obj"></h2>
	</h1>
	<h1>Directive with isolated scope '$'
		<h2 example4 ext-sum="doSum"></h2>
	</h1>

	<h1>Link & compile example
		<!-- <div example5 data="first">
			<div example5 data="..second">
				<div example5 data="....third">

				</div>
			</div>
		</div> -->
		<div example5 data="{{i}}" ng-repeat="i in [1,2,3,4,5]">{{i}}</div>
	</h1>

	<div class="sqaure">
		<span class="circle"></span>
	</div>
	<div class="sqaure">
		<span class="circle"></span>
	</div>
</body>

</html>