<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video Queue Player</title>

  <link rel="stylesheet" href="./style.css"/>

</head>
<body>
  <div id="header">
    <h3>Video Playlist</h3>
    
  </div>

  <div id="videoApp">
    <div id="sideBar">
      <h4>Your Playlist</h4>
      <ul>
        <li v-for="video in videoQueue" :key="video.priority" :priority="video.priority"><span class="videoName" v-on:click="play">Video {{video.priority}} </span>  
          <br/> 
          <span class="url">{{video.url}}</span> <br/>
          <span class="actions" v-on:click="moveUp">Up</span>  |
          <span class="actions" v-on:click="moveDown">Down</span> | 
          <span class="actions" v-on:click="remove">Delete</span>
        </li>
      </ul>
      <button v-if="videoQueue.length > 0" type="button" id="clearQueueButton" v-on:click="clearQueue">Clear Queue</button>
      <p v-if="videoQueue.length === 0" style="color: #FFF; font-size: 14px; width: 100%;">Add a video to the playlist by entering youtube link in the input field above.</p>
    </div>

    <div id="mainPanel">
      <div id="linkPanel">
        <input type="text" name="videoUrl" id="videoUrl" v-model="linkInput" placeholder="Enter Youtube Video Links here (eg.https://www.youtube.com/watch?v=XXXXXXXXXXX)"/>
        <button type="button" id="videoAddButton" v-on:click="addLink">Add Video to Playlist</button>
      </div>
      <p v-if="videoQueue.length === 0" style="color: #FFF; font-size: 14px; width: 100%;">Add a video to the playlist by entering youtube link in the input field above.</p>
      <div id="videoPanel" v-bind:class="{visible: videoQueue.length}">
        <div id="player"></div>     
      </div>
    </div>
  </div>
  
</body>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
  <script src="https://unpkg.com/vue-ls@3.2.1/dist/vue-ls.min.js"></script>
  <script src="./script.js" type="text/javascript"></script>

</html>