**,*{
    box-sizing: border-box;
}

@import 'utils/normalize.css';
body{
    background-color: #000000;
    color: white
}

@import 'Components/UrlBar.scss';
@import 'Components/VideoPlayer.scss'







