body{
    background-color: #E0E5EC;
    font-family: 'Roboto', sans-serif;
}
.app{
    margin: 40px;
    height: 100%;
}

/*input section*/
.input-tab{
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 5px rgb(163,177,198,0.6), -3px -3px 5px rgba(255,255,255, 0.5);
}
.input-tab input{
    width: 80%;
    float: left;
    border: none;
    padding: 10px 5px;
    background-color: #E0E5EC;
    outline: none;
    box-shadow: inset 3px 3px 5px rgb(163,177,198,0.6),inset -3px -3px 5px rgba(255,255,255, 0.5);
}
.input-tab button{
    padding: 8px;
    width: 100px;
    box-shadow:3px 3px 5px rgb(163,177,198,0.6),-3px -3px 5px rgba(255,255,255, 0.5);
}
/*video*/

.video-wrapper{
    display: flex;
    height: 70vh;
    width: 100%;
}
.video-player-wrapper{
    margin: 15px 0px;
    padding: 10px;
    height: 100%;
    width: 70%;
    box-shadow:3px 3px 5px rgb(163,177,198,0.6),-3px -3px 5px rgba(255,255,255, 0.5);
}
.video-player-wrapper div{
    height: 100%;
}
.video{
    height: 100%;
    width: 100%;
}

.video-list-wrapper{
    margin: 15px;
    margin-right: 0px;
    padding: 10px;
    height: 100%;
    width: 30%;
    text-align: center;
    overflow: auto;
    box-shadow:3px 3px 5px rgb(163,177,198,0.6),-3px -3px 5px rgba(255,255,255, 0.5);
}
.list-item{
    width: 90%;
    margin: 5px 5%;
    padding: 5px;
    position: relative;
    box-shadow:3px 3px 5px rgb(163,177,198,0.6),-3px -3px 5px rgba(255,255,255, 0.5);
    border-radius: 4px;
    word-wrap: break-word;
    height: 70px;
    color: grey;
    line-height: 70px;
    font-size: 15px;
    animation: scale-display .3s;
}
@keyframes scale-display {
	0% {
		opacity: 0;
		transform: scale(0);
    -webkit-transform: scale(0);
	}

	100% {
		opacity: 1;
		transform: scale(1);
    -webkit-transform: scale(1);
	}
}
.close-icon{
    position: absolute;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    top: 25px;
}
.has-error{
    color: orangered;
    font-size: 10px;
    position: absolute;
    bottom: 5px;
    left: 40px;
}
.arrow-icon-up{
    position: absolute;
    left: 10px;
    top: 5px;
}
.arrow-icon-down{
    position: absolute;
    left: 10px;
    bottom: 5px;
}
.icons{
line-height: 30px;
height: 30px;
width: 30px;
cursor: pointer;
border-radius: 50%;
box-shadow:3px 3px 5px rgb(163,177,198,0.6),-3px -3px 5px rgba(255,255,255, 0.5);
}
.icons:hover{
    box-shadow:inset 3px 3px 5px rgb(163,177,198,0.6),inset -3px -3px 5px rgba(255,255,255, 0.5);
}
.highLight{
    background-color: ghostwhite;
}
.title{
    font-size: 25px;
    font-weight: 700;
    padding: 10px 0px;
    color: darkslategrey
}
.link{
    font-size: 15px;
    font-weight: 900;
    color: darkslategrey
}
.hold{
    border: 2px solid greenyellow;
}
.invisible{
    display: none;
}