.App {
  text-align: center;
}
.plybtn {
  padding: 5px 10px;
  border: 2px solid pink;
  border-radius: 20px;
  background: pink;
  color: #050801;
  box-shadow: 0 0 5px pink, 0 0 25px pink, 0 0 50px pink, 0 0 200px pink;
}
