.titleContianer {
    display: flex;
}

.titleContianer > .title {
    font-weight: bold;
    border-radius: 6px;
    background: #c29aeb;
    padding: 10px 30px 10px 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}