@import "../../assets/css/variables.scss";

.video-list-item {
  font-size: 1.2em;
  border-bottom: solid 1px #eee;
  padding: 5px 10px;
  line-height: 2em;
  position: relative;

  &:hover {
    background: $color-hover-primary;
    color: $color-white-primary;
  }

  &__icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
}
